@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@custom-variant answer-idle (&[data-answer-state="idle"]);
@custom-variant answer-selected (&[data-answer-state="selected"]);
@custom-variant answer-correct (&[data-answer-state="correct"]);
@custom-variant answer-wrong (&[data-answer-state="wrong"]); 

@custom-variant checkbox-checked (&:is(input[type='checkbox']:checked));

@custom-variant answer-is-correct (&[data-answer-is-correct="true"]);
@custom-variant answer-is-incorrect (&[data-answer-is-correct="false"]);

@theme inline {
  /* Backgrounds */
  --color-deep: var(--bg-deep); /* Fundo global da aplicação */
  --color-option: var(--bg-option); /* Fundo das alternativas em repouso */
  --color-option-hover: var(--bg-option-hover); /* Hover nas alternativas */

  /* Text & Typography */
  --color-primary-tx: var(
    --text-primary
  ); /* Enunciado, títulos, texto principal */
  --color-secondary-tx: var(
    --text-secondary
  ); /* Texto das alternativas, labels */
  --color-muted-tx: var(
    --text-muted
  ); /* Labels auxiliares, letras das opções */

  /* Accents & States */
  --color-accent-orange: var(--accent-orange); /* Ação principal */
  --color-accent-cyan: var(--accent-cyan); /* Informação contextual */
  --color-correct: var(--correct); /* Estados de correto */
  --color-wrong: var(--wrong); /* Estado de incorreto  */

  --color-idle: var(--border-idle); /* Bordas de inputs e opções em repouso */

  --font-body: "Sora", sans-serif;
  --font-heading: var(--font-body);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --breakpoint-xs: 480px;

  /* --data-answer-idle: [data-answer-state= "idle"]; */
}

:root {
  /* Backgrounds */
  --bg-deep: oklch(0.9664 0.0174 293.14);
  --bg-card: oklch(0.98885 0.00104 11.205);
  --bg-option: oklch(0.9819 0.0093 292.8);
  --bg-option-hover: oklch(0.9442 0.0191 299.06);

  /* Text & Typography */
  --text-primary: oklch(0.2214 0.0604 287.59);
  --text-secondary: oklch(0.463 0.0646 292.88);
  --text-muted: oklch(0.7202 0.0628 296.52);

  /* Accents & States */
  --accent-orange: oklch(0.6817 0.162 58.68);
  --accent-cyan: oklch(0.5865 0.1003 187.8);
  --correct: oklch(0.596 0.1274 163.23);
  --wrong: oklch(0.5433 0.174 29.7);

  /* Borders & Inputs */
  --border-idle: oklch(0.8954 0.0315 293.74);

  /* Shadcn/UI variables */
  --background: oklch(0.9783 0.0067 295.45);
  --foreground: oklch(0.2214 0.0604 287.59);
  --card: oklch(0.98885 0.00104 11.205);
  --card-foreground: oklch(0.15 0.02 280);
  --popover: oklch(0.9547 0.0188 292.61);
  --popover-foreground: oklch(0.15 0.02 280);
  --primary: oklch(0.6817 0.162 58.68);
  --primary-foreground: oklch(0.13441 0.00002 271.152);
  --secondary: oklch(0.9819 0.0093 292.8);
  --secondary-foreground: oklch(0.408 0.06565 297.535);
  --muted: oklch(0.463 0.0646 292.88);
  --muted-foreground: oklch(0.7202 0.0628 296.52);
  --accent: oklch(0.5865 0.1003 187.8);
  --accent-foreground: oklch(0.98 0.01 280);
  --destructive: oklch(0.5433 0.174 29.7);
  --border: oklch(0.8954 0.0315 293.74 / 0.1);
  --input: oklch(0.8954 0.0315 293.74 / 0.15);
  --ring: oklch(0.6817 0.162 58.68 / 0.15);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0.008 326);
  --sidebar-primary: oklch(0.681 0.162 75.834);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  --sidebar-accent: oklch(0.96 0.003 325.6);
  --sidebar-accent-foreground: oklch(0.212 0.019 322.12);
  --sidebar-border: oklch(0.922 0.005 325.62);
  --sidebar-ring: oklch(0.711 0.019 323.02);
}

.dark {
  /* Backgrounds */
  --bg-deep: oklch(0.1649 0.0291 289.36);
  --bg-card: oklch(0.2037 0.0449 287.71);
  --bg-option: oklch(0.2339 0.0528 288.17);
  --bg-option-hover: oklch(0.2567 0.0571 287.59);

  /* Text & Typography */
  --text-primary: oklch(0.9518 0.0257 295.56);
  --text-secondary: oklch(0.6315 0.0689 293.3);
  --text-muted: oklch(0.426 0.0657 291.38);

  /* Accents & States */
  --accent-orange: oklch(0.772 0.1738 64.55);
  --accent-cyan: oklch(0.7834 0.1314 188);
  --correct: oklch(0.7319 0.1499 163.69);
  --wrong: oklch(0.6652 0.1853 23.6);

  /* Borders & Inputs */
  --border-idle: oklch(0.2886 0.0627 288.38 / 0.1);

  --background: oklch(0.1649 0.0291 289.36);
  --foreground: oklch(0.9518 0.0257 295.56);
  --card: oklch(0.2037 0.0449 287.71);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.2037 0.0449 287.71);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.772 0.1738 64.55);
  --primary-foreground: oklch(0.13441 0.00002 271.152);
  --secondary: oklch(0.2339 0.0528 288.17);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.6315 0.0689 293.3);
  --muted-foreground: oklch(0.426 0.0657 291.38);
  --accent: oklch(0.7834 0.1314 188);
  --accent-foreground: oklch(0.06 0.04 280);
  --destructive: oklch(0.6652 0.1853 23.6);
  --border: oklch(0.2886 0.0627 288.38 / 0.1);
  --input: oklch(0.2886 0.0627 288.38 / 0.15);
  --ring: oklch(0.772 0.1738 64.55 / 0.15);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --sidebar: oklch(0.212 0.019 322.12);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.987 0.026 102.212);
  --sidebar-accent: oklch(0.263 0.024 320.12);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.542 0.034 322.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-body;
  }
}
